.follow{
  width: 73%;
  @media (max-width: 1440px) {
    width: 68%;
  }
  @media (max-width: 1024px) {
    width: 56%;
  }
  @media (max-width: 768px) {
    width: 53%;
  }
  @media (max-width: 425px) {
    width: 100%;
  }
  .d{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid rgb(72, 69, 69);
    height: 140px;
  }
  img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  span{
    color: #C9D1D9;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    margin-left: 20px;
  }
}